<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
         http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>CollegeFeeWebApp</display-name>

    <!-- Add Fee Payment Servlet -->
    <servlet>
        <servlet-name>AddFeePaymentServlet</servlet-name>

        <servlet-class>
            com.servlet.AddFeePaymentServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddFeePaymentServlet</servlet-name>

        <url-pattern>
            /AddFeePaymentServlet
        </url-pattern>
    </servlet-mapping>

    <!-- Update Fee Payment Servlet -->
    <servlet>
        <servlet-name>UpdateFeePaymentServlet</servlet-name>

        <servlet-class>
            com.servlet.UpdateFeePaymentServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateFeePaymentServlet</servlet-name>

        <url-pattern>
            /UpdateFeePaymentServlet
        </url-pattern>
    </servlet-mapping>

    <!-- Delete Fee Payment Servlet -->
    <servlet>
        <servlet-name>DeleteFeePaymentServlet</servlet-name>

        <servlet-class>
            com.servlet.DeleteFeePaymentServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteFeePaymentServlet</servlet-name>

        <url-pattern>
            /DeleteFeePaymentServlet
        </url-pattern>
    </servlet-mapping>

    <!-- Display Fee Payments Servlet -->
    <servlet>
        <servlet-name>DisplayFeePaymentsServlet</servlet-name>

        <servlet-class>
            com.servlet.DisplayFeePaymentsServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayFeePaymentsServlet</servlet-name>

        <url-pattern>
            /DisplayFeePaymentsServlet
        </url-pattern>
    </servlet-mapping>

    <!-- Report Servlet -->
    <servlet>
        <servlet-name>ReportServlet</servlet-name>

        <servlet-class>
            com.servlet.ReportServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>

        <url-pattern>
            /ReportServlet
        </url-pattern>
    </servlet-mapping>

    <!-- Report Criteria Servlet -->
    <servlet>
        <servlet-name>ReportCriteriaServlet</servlet-name>

        <servlet-class>
            com.servlet.ReportCriteriaServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReportCriteriaServlet</servlet-name>

        <url-pattern>
            /ReportCriteriaServlet
        </url-pattern>
    </servlet-mapping>

    <!-- Welcome File -->
    <welcome-file-list>

        <welcome-file>
            index.jsp
        </welcome-file>

    </welcome-file-list>

</web-app>